badge { // Defining basic badge.
  font-family: Monospace;
  font-size: $vFontSize - 1;

  @extend .cuil-bround-8px;

  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;

  display: inline-block;
}

code {
  @extend .cuil-bg-black;
  @extend .cuil-tx-white;
  @extend badge;
}

date {
  @extend .cuil-bg-almost-white;
  @extend .cuil-tx-black;
  @extend badge;
}

kbd {
  @extend .cuil-bg-dark-grey;
  @extend .cuil-tx-white;
  @extend badge;
}

samp {
  @extend .cuil-bg-light-grey;
  @extend .cuil-tx-black;
  @extend badge;
}

ul {
  list-style-type: none;
  overflow: hidden;
}
