$mbtn_info: map-get(map-get($config, module), btn);

@if map-get($mbtn_info, enabled) == true {

.cuil-btn {
  padding: 6px 16px;
  outline: 0;
  box-shadow: none;

  display: inline-block;
  cursor: pointer;

  text-decoration: none !important;
  text-align: center;

  vertical-align: middle;
  overflow: hidden;

  -webkit-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
  -moz-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
  -ms-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
  transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
}

.cuil-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0 , 0 , 0.2), 0 6px 20px 0 rgba(0, 0 , 0 , 0.19);
}

}
