$mtext_info: map-get(map-get($config, module), text);

// Declare external variables
$vTextSizesPX: null;
$vFontFamily: null;
$vFontSize: null;
$vFontColor: null;

@if map-get($mtext_info, enabled) == true {

// Define font info.
$vFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif, "Times New Roman";
$vFontSize: 14px;
$vFontColor: #2a2b30;

// Implement text sizes
@each $iName, $iSize in $vTextSizesPX {
  .cuil-#{$iName} {
    font-size: #{$iSize};
  }
};

body {
  font-family: $vFontFamily;
  font-size: $vFontSize;
  color: $vFontColor;
}

p {
  line-height: 1.45;
  margin: 4px;
}

@each $iType in (h1, h2, h3, h4, h5, h6) {
  #{$iType} {
    @extend .cuil-margin-0;
  }
}

}
